.wrapper {
  width: 100%;
  height: auto;
  &__container {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .container__about {
      height: 640px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .about__text {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        h1 {
          color: white;
          font-size: 36px;
          font-weight: 700;
          line-height: 45px;
          letter-spacing: 0em;
          text-align: left;
        }
        .about__textLine {
          width: 85px;
          height: 2px;
          background-color: rgba(137, 194, 73, 1);
        }
        h3 {
          color: rgba(255, 255, 255, 1);
          font-size: 18px;
          font-weight: 400;
          line-height: 31px;
          letter-spacing: 0em;
          text-align: left;
        }
      }
      .about__photo {
        width: 550px;
        height: 550px;
        border-radius: 50%;
        background-color: rgba(54, 58, 77, 1);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .container__que {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h1 {
        color: white;
        font-size: 36px;
        font-weight: 700;
        line-height: 45px;
        letter-spacing: 0em;
        text-align: left;
      }
      .que__Line {
        width: 85px;
        height: 2px;
        background-color: rgba(229, 141, 53, 1);
      }
      .que__flexblock {
        margin-top: 40px;
        .flexBlock__que {
          width: 700px;
          display: flex;
          gap: 10px;
          flex-direction: column;
          .que__item {
            border: 1px rgba(58, 68, 78, 0.6) solid;
            border-radius: 10px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            animation-name: closeQue;
            animation-duration: 1s;
            padding: 10px;
            &__active {
              animation-name: openQue;
              animation-duration: 1s;
              border-radius: 10px;
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-direction: column;
              padding: 10px;
              background-color: white;
              h1 {
                color: rgba(40, 43, 56, 1);
                font-size: 18px;
                font-weight: 700;
                line-height: 22px;
                letter-spacing: 0em;
                text-align: left;
              }
              h3 {
                color: rgba(40, 43, 56, 1);
                font-size: 17px;
                font-weight: 400;
                line-height: 25px;
                letter-spacing: 0em;
                text-align: left;
              }
              svg {
                color: rgba(229, 141, 53, 1);
                transform: rotate(-90deg);
                width: 27px;
                height: 27px;
                animation: arr;
                animation-duration: 1s;
              }
              div {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
              }
            }
            div {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
            h1 {
              color: white;
              font-size: 18px;
              font-weight: 700;
              line-height: 22px;
              letter-spacing: 0em;
              text-align: left;
            }
            svg {
              color: white;
              width: 27px;
              height: 27px;
            }
            h3 {
              color: white;
              font-size: 17px;
              font-weight: 400;
              line-height: 25px;
              letter-spacing: 0em;
              text-align: left;
            }
          }
        }
      }
    }
    .block__goReg {
      box-shadow: 5px 15px 40px 0px rgba(1, 3, 10, 0.32);
      margin-top: 50px;
      width: 1820px;
      height: 1265px;
      background-color: rgba(54, 58, 77, 1);
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h1 {
        color: white;
        font-size: 36px;
        font-weight: 700;
        line-height: 45px;
        letter-spacing: 0em;
        text-align: center;
      }
      h3 {
        color: white;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
      }
      .goReg__Line {
        width: 85px;
        height: 2px;
        background-color: rgba(137, 194, 73, 1);
      }
      .goReg__grid {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 40px;
        div,
        span {
          width: 550px;
          height: 400px;
          color: white;
          font-size: 17px;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: left;
          &:nth-child(3),
          &:nth-child(2) {
            background-size: contain;
            background-repeat: no-repeat;
          }
          &:nth-child(3) {
            background-image: url("/public/que/image2.png");
          }
          &:nth-child(2) {
            background-image: url("/public/que/image1.png");
          }
          button {
            margin: 20px;
            height: 70px;
            width: 240px;
            background: rgba(229, 141, 53, 1);
            border-radius: 90px;
            color: white;
            font-size: 16px;
            font-weight: 600;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: left;
            border: 0;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 35px;
            svg {
              width: 25px;
              height: 25px;
              color: rgba(178, 101, 25, 1);
              transition: 0.3s all;
            }
            &:hover {
              cursor: pointer;
              svg {
                color: rgb(106, 62, 19);
              }
            }
          }
        }
      }
    }
  }
}

@keyframes openQue {
  0% {
    height: 40px;
  }
  100% {
    height: 150px;
  }
}

@keyframes arr {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@media (max-width: 1920px) {
  .wrapper {
    width: 100%;
    &__container {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .container__about {
        height: auto;
        .about__text {
          height: auto;
          width: 70%;
        }
        .about__photo {
          display: none;
        }
      }

      .block__goReg {
        height: auto;
        width: 100%;
        padding: 20px;
      }
    }
  }
}
@media (max-width: 1250px) {
  .wrapper {
    width: 100%;
    &__container {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .container__about {
        height: auto;
        .about__text {
          height: auto;
          width: 70%;
        }
        .about__photo {
          display: none;
        }
      }
      .block__goReg {
        height: auto;
        width: 100%;
        .goReg__grid {
          height: auto;
          margin-top: 50px;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr;
          button {
            margin: 0 auto;
          }
        }
      }
    }
  }
  @media (max-width: 780px) {
    .wrapper {
      &__container {
        width: auto;
        .container__que {
          h1 {
            width: 300px;
            text-align: center;
          }
          .que__flexblock {
            margin-top: 40px;
            .flexBlock__que {
              width: 100%;
              display: flex;
              gap: 10px;
              flex-direction: column;
              .que__item {
                width: 80vw;
                &__active {
                  width: 80vw;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .wrapper {
    height: auto;
    width: 100%;
    &__container {
      height: auto;
      width: 100%;
      .block__goReg {
        height: auto;
        width: 100%;
        .goReg__grid {
          grid-template-rows: 1fr 1fr;
          span {
            margin: 0 auto;
            width: 80vw;
            height: auto;
            text-align: center;
            button {
              margin: 0 auto;
              margin-top: 50px;
            }
          }
          div {
            display: none;
          }
        }
      }
    }
  }
}
