.wrapper {
  width: calc(100% - 40px);
  height: 350px;
  padding: 20px;
  margin-top: 100px;
  &__container {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    .footer__line {
      width: 100%;
      height: 2px;
      background-color: rgba(229, 141, 53, 1);
    }
    .footer_links {
      margin-top: 20px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 60px;
      .column {
        width: auto;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        &:first-child {
          gap: 20px;
          width: 230px;
        }
        .column__logo {
          width: auto;
          height: auto;
        }
        .column__contacts {
          display: flex;
          flex-direction: column;
          span {
            color: white;
            font-size: 14px;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: left;
          }
        }
        .column__social {
          svg {
            height: 33px;
            width: 33px;
            color: white;
          }
        }
        h1 {
          margin: 0;
          color: white;
          font-size: 20px;
          font-weight: 700;
          line-height: 29px;
          letter-spacing: 0em;
          text-align: left;
        }
        a {
          color: rgba(133, 137, 156, 1);
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: 0em;
          text-align: left;
        }
      }
    }
  }
}
