.wrapper {
  width: 100%;
  height: 600px;
  &__container {
    width: 1300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin: 0 auto;
    h1 {
      font-size: 36px;
      font-weight: 700;
      line-height: 45px;
      letter-spacing: 0em;
      text-align: center;
    }
    .container__line {
      width: 85px;
      height: 2px;
      background-color: rgba(137, 194, 73, 1);
    }
    .container__slider {
      height: 500px;
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 25px;
      .slider__arrs {
        position: absolute;
        width: 1300px;
        display: flex;
        justify-content: space-between;
        svg {
          width: 46px;
          height: 46px;
          color: rgba(108, 111, 127, 1);
          transition: 0.3s all;
          &:hover {
            cursor: pointer;
            color: rgb(95, 97, 112);
          }
        }
      }
      .slider__items {
        width: auto;
        display: flex;
        gap: 40px;
        .item {
          box-shadow: 5px 15px 40px 0px rgba(1, 3, 10, 0.32);
          width: 360px;
          height: 480px;
          background-color: rgba(54, 58, 77, 1);
          border-radius: 20px;
          &__photo {
            width: 100%;
            height: 230px;
            background-repeat: no-repeat;
          }
          div {
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: center;
            color: white;
            svg {
              color: rgba(137, 194, 73, 1);
              width: 22px;
              height: 22px;
            }
          }
          .item__price {
            h1 {
              margin: 0;
            }
            display: flex;
            gap: 10px;
            span {
              margin: 0;
              color: rgba(163, 163, 163, 1);
            }
          }
          .buttonsBar {
            width: 100%;
            height: 50px;
            display: flex;
            gap: 10px;
            a {
              text-decoration: none;
              outline: none;
              width: 150px;
              height: 100%;
              border-radius: 90px;
              font-size: 15px;
              font-weight: 600;
              line-height: 22px;
              letter-spacing: 0em;
              display: flex;
              justify-content: center;
              align-items: center;
              color: white;
              border: 0;
              &:first-child {
                background-color: rgba(229, 141, 53, 1);
              }
              &:last-child {
                border: 1px rgba(229, 141, 53, 1) solid;
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1350px) {
  .wrapper {
    width: 100%;
    height: 600px;
    &__container {
      width: 1000px;
      .container__slider {
        width: auto;
        .slider__arrs {
          width: 950px;
        }
        .slider__items {
          width: auto;
          .item {
            width: 250px;
            height: 440px;
            &__photo {
              width: 100%;
              height: 200px;
              background-repeat: no-repeat;
              background-size: contain;
            }
            h1 {
              font-size: 20px;
              margin: 0;
              height: auto;
            }
            .buttonsBar {
              height: 80px;
              flex-direction: column;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .wrapper {
    width: 100%;
    height: 600px;
    &__container {
      margin-top: 50px;
      width: 100%;
      .container__slider {
        width: auto;
        .slider__arrs {
          display: none;
        }
        .slider__items {
          margin-top: 20px;
          width: auto;
          .item {
            width: 450px;
            height: 600px;
            h1 {
              font-size: 25px;
            }
            &__photo {
              width: 100%;
              height: 320px;
              background-size: contain;
            }
            &:nth-child(2),
            &:nth-child(3) {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .wrapper {
    width: 100%;
    height: 600px;
    &__container {
      margin-top: 50px;
      width: 100%;
      .container__slider {
        width: auto;
        .slider__arrs {
          display: none;
        }
        .slider__items {
          margin-top: 20px;
          width: auto;
          .item {
            width: 370px;
            height: 600px;
          }
        }
      }
    }
  }
}
