.wrapper {
  width: 100vw;
  height: 700px;
  &__container {
    height: 100%;
    width: 1820px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    .container__arrs {
      width: 1500px;
      height: 30px;
      position: absolute;
      display: flex;
      justify-content: space-between;
      svg {
        color: white;
        width: 50px;
        height: 50px;
        &:hover{
            cursor: pointer;
        }
      }
    }
    .container__text {
      position: absolute;
      width: 1000px;
      h1 {
        margin: 20px;
        width: 460px;
        color: white;
        font-size: 56px;
        font-weight: 700;
        line-height: 71px;
        letter-spacing: 0em;
        text-align: left;
      }
      h3 {
        margin: 20px;
        color: white;
        font-size: 20px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
      }
      button {
        margin: 20px;
        height: 70px;
        width: 300px;
        background: rgba(229, 141, 53, 1);
        border-radius: 90px;
        color: white;
        font-size: 16px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        border: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35px;
        svg {
          width: 25px;
          height: 25px;
          color: rgba(178, 101, 25, 1);
          transition: 0.3s all;
        }
        &:hover {
          cursor: pointer;
          svg {
            color: rgb(106, 62, 19);
          }
        }
      }
    }
    .container__countSlide{
      display: flex;
      position: absolute;
      bottom: 50px;
      gap: 10px;
      div{
        border-radius: 50%;
        border:1px white solid;
        width: 8px;
        height: 8px;
      }
    }
  }
}
